﻿.auto-style1 {
    text-align: center;
    background-color: #2F56F4;
    font-family: verdana;
}
.auto-style2 {
    font-size: large;
    color: #000000;
    text-decoration:none;
}
.auto-style2:hover {
    font-size: large;
    color: #000000;
    text-decoration:underline;
}
.auto-style3 {
    background-color: #2F56F4;
    text-align: right;
}